.nav--intro {
  position: sticky;
  top: 0;
  padding-block: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;

  &__logo {
    width: 3.2rem;
    aspect-ratio: 1;
    border-radius: 5000px;
    margin-inline: 4rem 0rem;
  }

  &__rule {
    flex: 0 1 25%;
    border: solid 0.5px hsl(var(--clr-l) / 0.25);
    transform: translateX(4rem);
    z-index: 2;
  }

  &__menu {
    flex: 1 1;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    @supports (backdrop-filter: blur(1rem)) {
      background-color: hsl(var(--clr-l) / 0.04);
      backdrop-filter: blur(1rem);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    color: inherit;
    text-decoration: none;
    overflow: hidden;

    & * {
      margin-right: 1.6rem;
      font-weight: 400;
      color: hsl(var(--clr-l) / 0.5);
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: hsl(var(--clr-l));
      translate: 0 100%;
      transition: translate 200ms ease;
    }

    &:hover::after {
      translate: 0 95%;
    }

    &:active::after {
      translate: 0 95%;
      background-color: hsl(var(--clr-t));
    }
  }
}

.nav {
  text-align: center;
  padding: 0.8rem;

  @supports (backdrop-filter: blur(8rem)) {
    background-color: hsl(var(--clr-l) / 0.04);
    backdrop-filter: blur(8rem);
  }

  span {
    margin-right: 1.6rem;
  }
}
