/**************************
** text colors
***************************/
.tc-p {
  color: hsl(var(--clr-p));
}
.tc-s {
  color: hsl(var(--clr-s));
}
.tc-t {
  color: hsl(var(--clr-t));
}
.tc-a {
  color: hsl(var(--clr-a));
}
.tc-h {
  color: hsl(var(--clr-h));
}
.tc-l {
  color: hsl(var(--clr-l));
}
.tc-d {
  color: hsl(var(--clr-d));
}

/**************************
** background colors
***************************/
.bc-p {
  color: hsl(var(--clr-p));
}
.bc-s {
  color: hsl(var(--clr-s));
}
.bc-t {
  color: hsl(var(--clr-t));
}
.bc-a {
  color: hsl(var(--clr-a));
}
.bc-h {
  color: hsl(var(--clr-h));
}
.bc-l {
  color: hsl(var(--clr-l));
}
.bc-d {
  color: hsl(var(--clr-d));
}
