*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100svh;

  color: hsl(var(--clr-t));
  background-color: hsl(var(--clr-p));
  font-family: var(--ff-sans);
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: var(--fs-400);
  line-height: var(--lh-default);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
