*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100svh;

  color: hsl(var(--clr-l));
  background-color: hsl(var(--clr-p));
  font-family: var(--ff-sans);
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: var(--fs-400);
  line-height: var(--lh-default);
  -webkit-font-smoothing: antialiased;

  & > svg {
    display: none;
  }
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul[role='nav'] {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
