:root {
  /**************************
  ** layout
  ***************************/
  --max-width: 140rem;

  /**************************
  ** colors
  ***************************/
  --clr-p: 230 35 7;
  --clr-s: 231 77 90;
  --clr-t: ;
  --clr-a: ;
  --clr-h: ;
  --clr-l: 0 0 100;
  --clr-d: ;

  /**************************
  ** font family
  ***************************/
  --ff-serif: Bellefair Regular;
  --ff-sans: ;
  --ff-cond: Barlow Condensed Regular;
  --ff-mono: ;

  --ff-title: var(--ff-serif);
  --ff-body: var(--ff-cond);

  /**************************
  ** font sizes
  ***************************/
  --fs-900: 15rem;
  --fs-800: 10rem;
  --fs-700: 5.6rem;
  --fs-600: 3.2rem;
  --fs-500: 2.8rem;
  --fs-400: 1.8rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;
  --fs-100: ;

  /**************************
  ** line height
  ***************************/
  --lh-default: 1.4;
}
